body {
  background: #141446;
  color: white;
  padding: 20px;
}

.display {
  flex-basis: 100%;
  flex-shrink: 0;
  background: #3d4cbb;
  padding: 25px;
  text-align: right;
  font-size: 32px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.container {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 20px;
}

.scientific {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.basic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  background: #13296d;
  border: none;
  color: whitesmoke;
  padding: 18px;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
}

.equal {
  background: #8fbaff;
  color: black;
  font-weight: bold;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }

  .scientific {
    order: 2;
    grid-template-columns: repeat(3, 1fr);
  }

  .basic {
    order: 1;
    grid-template-columns: repeat(4, 1fr);
  }

  .scientific button:last-child {
    grid-column: 2 / -1;
  }
}
